//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Games-news
div.Games-newsContainer
	width 100%
	height auto
	background transparent
	padding 0px
	margin-bottom 53px
	margin-top 94px
	ul.flex-container
		-webkit-flex-flow row wrap
		background white
		display -moz-box
		display -ms-flexbox
		display -webkit-box
		display -webkit-flex
		display flex
		height uto
		justify-content center
		list-style none 
		padding 0px
		width 100%
		li.flex-item
			width 300px
			height auto
			-webkit-flex-flow row wrap
			background white
			display -moz-box
			display -ms-flexbox
			display -webkit-box
			display -webkit-flex
			display flex
			justify-content center 
			background black
			margin 20px auto 20px auto
			padding 0px 
			background black
			box-shadow 0 0 0 10px white, 0 0 0 11px frblue, 0 20px 20px -12px black
			a.Article
				width 100%
				height 100%
				padding 0px
				margin 0px
				article.Article-con
					width 100%
					height auto
					padding 0px
					margin 0px
					header.Article-conH
						width 100%
						height auto
						margin 0px
						padding 0px
						img.Article-conPor
							width 100%
					div.Article-conSec
						width 100%
						height 30px
						padding 0px
						margin 0px
						-webkit-flex-flow row wrap
						display -moz-box
						display -ms-flexbox
						display -webkit-box
						display -webkit-flex
						display flex
						img.Article-iconSec
							width 20px
							padding 0px 3px 0px 3px
							margin 0px 1px 0px 1px
							line-height 30px
						h3.Article-conTit
							padding 0px 3px 0px 3px
							margin 0px 1px 0px 1px
							line-height 30px
							font-size 1em
							color white	
					h2.Article-conTitInfo
						margin 0px 4px 0px 4px
						padding 0px
						color white
						font-size 1.3em
					p.Article-conInfo
						font-size 1em						
						margin 0px 4px 0px 4px
						padding 0px
						color white						
//INICIAMOS CON EL RESPONSIVE WEB DESIGN
@media screen and (min-width 320px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 90%
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 25px
									h3.Article-conTit
										font-size 1.2em
								h2.Article-conTitInfo
									font-size 1.5em
								p.Article-conInfo
									font-size 1.2em
@media screen and (min-width 400px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 90%
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 25px
									h3.Article-conTit
										font-size 1.3em
								h2.Article-conTitInfo
									font-size 1.5em
								p.Article-conInfo
									font-size 1.2em
@media screen and (min-width 494px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 430px
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 30px
									h3.Article-conTit
										font-size 1.3em
								h2.Article-conTitInfo
									font-size 1.7em
								p.Article-conInfo
									font-size 1.3em
@media screen and (min-width 600px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 500px
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 30px
									h3.Article-conTit
										font-size 1.5em
								h2.Article-conTitInfo
									font-size 1.8em
								p.Article-conInfo
									font-size 1.35em
@media screen and (min-width 1000px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 599px
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 30px
									h3.Article-conTit
										font-size 1.5em
								h2.Article-conTitInfo
									font-size 1.9em
								p.Article-conInfo
									font-size 1.35em
@media screen and (min-width 1198px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 570px
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 30px
									h3.Article-conTit
										font-size 1.5em
								h2.Article-conTitInfo
									font-size 1.8em
								p.Article-conInfo
									font-size 1.35em
@media screen and (min-width 1600px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 430px
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 30px
									h3.Article-conTit
										font-size 1.5em
								h2.Article-conTitInfo
									font-size 1.7em
								p.Article-conInfo
									font-size 1.3em
@media screen and (min-width 1710px)
	html
		section.Games-news
			height auto
			width 100%
			padding 0px
			margin 0px
			margin-bottom 48px
			div.Games-newsContainer
				ul.flex-container
					li.flex-item
						width 530px
						height auto
						a.Article
							width 100%
							height auto
							article.Article-con
								width 100%
								height auto
								header.Article-conH
									width 100%
									height auto
									img.Article-conPor
										width 100%
								div.Article-conSec
									width 100%
									height 30px
									img.Article-iconSec
										width 30px
									h3.Article-conTit
										font-size 1.5em
								h2.Article-conTitInfo
									font-size 1.8em
								p.Article-conInfo
									font-size 1.35em






































					