div(class="Games-newsContainer")
	ul(class="flex-container")
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="http://previews.agefotostock.com/117pxtn0rk/previewimage/bajail/97ebcd42fb94bffaf3b48ffab98e97ec/t07-1062729.jpg")
					div(class="Article-conSec")
						img(class="Article-iconSec", src="../public/images/games.svg")
						h3(class="Article-conTit") Games
					h2(class="Article-conTitInfo") ¡Es negro el Panorama para Samsung!
					p(class="Article-conInfo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt illo totam, esse perferendis, nulla laborum placeat. Sed esse, doloremque sapiente a voluptas ullam accusamus harum, aspernatur iste ea similique.
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="http://previews.agefotostock.com/117pxtn0rk/previewimage/bajail/97ebcd42fb94bffaf3b48ffab98e97ec/t07-1062729.jpg")
					div(class="Article-conSec")
						img(class="Article-iconSec", src="../public/images/games.svg")
						h3(class="Article-conTit") Games
					h2(class="Article-conTitInfo") ¡Es negro el Panorama para Samsung!
					p(class="Article-conInfo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt illo totam, esse perferendis, nulla laborum placeat. Sed esse, doloremque sapiente a voluptas ullam accusamus harum, aspernatur iste ea similique.
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="http://previews.agefotostock.com/117pxtn0rk/previewimage/bajail/97ebcd42fb94bffaf3b48ffab98e97ec/t07-1062729.jpg")
					div(class="Article-conSec")
						img(class="Article-iconSec", src="../public/images/games.svg")
						h3(class="Article-conTit") Games
					h2(class="Article-conTitInfo") ¡Es negro el Panorama para Samsung!
					p(class="Article-conInfo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt illo totam, esse perferendis, nulla laborum placeat. Sed esse, doloremque sapiente a voluptas ullam accusamus harum, aspernatur iste ea similique.
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="http://previews.agefotostock.com/117pxtn0rk/previewimage/bajail/97ebcd42fb94bffaf3b48ffab98e97ec/t07-1062729.jpg")
					div(class="Article-conSec")
						img(class="Article-iconSec", src="../public/images/games.svg")
						h3(class="Article-conTit") Games
					h2(class="Article-conTitInfo") ¡Es negro el Panorama para Samsung!
					p(class="Article-conInfo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt illo totam, esse perferendis, nulla laborum placeat. Sed esse, doloremque sapiente a voluptas ullam accusamus harum, aspernatur iste ea similique.
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="http://previews.agefotostock.com/117pxtn0rk/previewimage/bajail/97ebcd42fb94bffaf3b48ffab98e97ec/t07-1062729.jpg")
					div(class="Article-conSec")
						img(class="Article-iconSec", src="../public/images/games.svg")
						h3(class="Article-conTit") Games
					h2(class="Article-conTitInfo") ¡Es negro el Panorama para Samsung!
					p(class="Article-conInfo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt illo totam, esse perferendis, nulla laborum placeat. Sed esse, doloremque sapiente a voluptas ullam accusamus harum, aspernatur iste ea similique.
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="http://previews.agefotostock.com/117pxtn0rk/previewimage/bajail/97ebcd42fb94bffaf3b48ffab98e97ec/t07-1062729.jpg")
					div(class="Article-conSec")
						img(class="Article-iconSec", src="../public/images/games.svg")
						h3(class="Article-conTit") Games
					h2(class="Article-conTitInfo") ¡Es negro el Panorama para Samsung!
					p(class="Article-conInfo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae incidunt illo totam, esse perferendis, nulla laborum placeat. Sed esse, doloremque sapiente a voluptas ullam accusamus harum, aspernatur iste ea similique.











																										