doctype html
html(lang="es")
	head
		title FR1K1.COM
		meta(charset="utf-8")
		meta(name="title", content="FR1K1.COM")
		meta(description="Vamos a decirlo en pocas palabras, FR1K1.COM es tu Web Magazine de noticias sobre el Cine, la Literatura, la Música, el Mundo Otaku, las series en Televisión, Nuestra Tienda Virtual, Vídeo en la web y los Vídeojuegos, somos Entretenimiento e Información. Te necesitamos porque eres nuestro apoyo para mejorar constantemente, gracias por compartir nuestra información con tus amigo(a)s, también por hacernos saber cuando te gustan nuestros artículos y además, por dejarnos conocer tu opinión en los comentarios, agradecemos infinitamente tu confianza y tu compañía, seguiremos evolucionando para lograr convertirnos en tu medio preferido de noticias. Te esperamos siempre.")
		meta(name="viewport", content="width=device-width, maximum-scale=1")
		link(rel="shortcut icon", href="./public/images/icon.png" type="image/svg")
		link(rel="stylesheet", href="./public/css/videos.css")
		link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald")
body(class="Videos")
	include ./lib/Header/template.jade
	include ./lib/Nav/template.jade
	section(class="Videos-news")
		include ./lib/NewsV/template.jade