//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: Anterior
    section.Anterior
      margin-top 103px
      div.flex-container
        -webkit-flex-flow row wrap
        display -moz-box
        display -ms-flexbox
        display -webkit-box
        display -webkit-flex
        display flex
        justify-content space-around
        list-style none
        padding-bottom 10px
        margin-bottom 4px
        margin 0px
        width 100%
         a.flex-item
          width 300px
          height 100%
          background frblue
          background-image src="../public/images/cardontv.png"
          // color white
          // font-size 3em
          // font-weight bold
          // height 180px
          // line-height 180px
          // margin-left auto
          // margin-right auto
          // margin-top 10px
          // padding 0px
          // text-align center
          // width 300px
               
