//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: NAV
footer.Modulo
	background lightgray
	border-top 3px solid frblue
	margin-bottom 53px
	height 100px
	left 0px
	right 0px
	width 100%
	div.Modulo-redes
		padding 0px
		width 160px
		height 100px
		margin-right auto
		margin-left auto
		h2
			padding 10px 0px 0px 0px
			margin 0px
			text-align center
			color solid darkgrey
		div.Modulo-enlaces
			width 100%
			height 60px
			padding 0px
			margin-left auto
			margin-right auto
			a.Modulo-link
				img.Modulo-img
					width 50px