//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Footer
footer.Contacto
	width 100%
	height auto
	padding 0px
	margin 0px
	background frblue
	div.Footer-logoContainer
		width 100%
		height 100px
		padding 0px
		background red
		text-align center
		img.Footer-logo
			width 200px
			padding 25px
			line-height 50%
	div.Footer-redesContainer
		width 300px
		height 100px
		padding 0px
		margin 0px
		background black
		ul.Footer-redesLista
			width 100%
			height 100%
			margin 0px
			padding 0px
			list-style none
			-webkit-flex-flow row
			display -moz-box
			display -ms-flexbox
			display -webkit-box
			display -webkit-flex
			display inline-flex
			justify-content center
			text-align center
			li.Footer-red
				width 33%
				height 100px
				line-height 100%
				a.Footer-redLink
					width 100%
					height 100px
					padding 0px
					margin 0px
					line-height 100%
					img.Footer-redImg
						width 50%
						padding 0px
						margin 0px
						line-height 100%
						height auto
			
		
		
