div(class="Footer-logoContainer")
	img(class="Footer-logo", src="./public/images/logofont.png")
div(class="Footer-redesContainer")
	ul(class="Footer-redesLista")
		li(class="Footer-red")
			a(class="Footer-redLink")
				img(class="Footer-redImg", src="./public/images/facebook.svg")
		li(class="Footer-red")
			a(class="Footer-redLink")
				img(class="Footer-redImg", src="./public/images/twitter.svg")
		li(class="Footer-red")
			a(class="Footer-redLink")
				img(class="Footer-redImg", src="./public/images/google.svg")