h2(class="Title") #Contacto
section(class="Footer-contacto")
	ul(class="flex-container")
		li(class="flex-item")
			div(class="flex-itemImg")
				img(class="flex-itemLogofont", src="./public/images/logofont.png")
			div(class="flex-itemInfo")
				p ¡Esta es la respuesta a todo(a)s aquello(a)s que preguntaron ¿Que es el "frikismo"? y me dejaron en ridículo por no poder resumirlo!
			div(class="flex-itemBtn")
				a(class="flex-itemBtnContacto", href="contacto.html") ¡CONTACTAME!
		li(class="flex-item")
			form(action="../enviar.php", method="post")
				h2 #Newsletter
				p ¡Déjame enviarte mi Newsletter semanal, con el resumen de noticias, actualizaciones de la página y las novedades de mi tienda!
				input(type="text", name="E-Mail", placeholder="E-Mail", required)
				input(type="submit", value="¡ENVIAR!")
		li(class="flex-item")
			div(class="Title")
				h2(class="Redes-title") Sigueme en Redes Sociales
				p ¡Mi opinión y mis publicaciones sobre el resto del mundo, las realizo desde las 19:00pm hasta las 21:00pm todas las noches después de clases, hora de Colombia! 							
			div(class="Facebook")
				a(class="Facebook-link")
					img(class="Facebook-icon", src="./public/images/facebook.svg")
			div(class="Twitter")
				a(class="Twitter-link")
					img(class="Twitter-icon", src="./public/images/twitter.svg")


