//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Alianzas-news
h2.Title
		text-align center
		background rgba(211, 211, 211, 0.7)
		border-bottom: 3px solid frblue
		margin-top 0px
		height 50px
		line-height 50px
		font-size 1.5em
		box-shadow 0 20px 20px -12px black
		width 100%
div.Alianzas-container
	width 100%
	height auto
	padding 0px
	margin 0px
	border-bottom: 3px solid frblue
	ul.flex-container
		width 100%
		height auto
		padding 0px
		margin 0px
		-webkit-flex-flow row wrap
		display -moz-box
		display -ms-flexbox
		display -webkit-box
		display -webkit-flex
		display inline-flex
		justify-content space-around
		list-style none
		li.flex-item
			width 85%
			height auto
			margin 20px auto
			padding 0px
			box-shadow 0 0 0 10px white,
          			   0 0 0 11px frblue,
          			   0 20px 20px -12px black		   
			a.flex-itemLink
				width 100%
				height auto
				padding 0px
				text-decoration none
				img.flex-itemLogo
					width 100%
// AQUÍ COMIENZA
@media screen and (min-width 320px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 85%
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%			
@media screen and (min-width 400px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 300px
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%
@media screen and (min-width 400px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 310px
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%						
@media screen and (min-width 620px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 40%
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%	
@media screen and (min-width 800px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 350px
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%	
@media screen and (min-width 1050px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 30%
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%	
@media screen and (min-width 1200px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 320px
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%	
@media screen and (min-width 1280px)
	html
		section.Alianzas
			width 100%
			height auto
			padding 0px
			margin 0px
			div.Alianzas-container
				width 100%
				height auto
				padding 0px
				margin 0px
				ul.flex-container
					width 100%
					height auto
					padding 0px
					margin 0px
					-webkit-flex-flow row wrap
					display -moz-box
					display -ms-flexbox
					display -webkit-box
					display -webkit-flex
					display inline-flex
					justify-content space-around
					list-style none
					li.flex-item
						width 20%
						height auto
						margin 20px auto
						padding 0px
						box-shadow 0 0 0 10px white,
			          			   0 0 0 11px frblue,
			          			   0 20px 20px -12px black		   
						a.flex-itemLink
							width 100%
							height auto
							padding 0px
							text-decoration none
							img.flex-itemLogo
								width 100%	











				