//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: Alianzas
section.Alias
  ul.flex-container
    border-top 3px solid frblue
    -webkit-flex-flow row wrap
    display -moz-box
    display -ms-flexbox
    display -webkit-box
    display -webkit-flex
    display flex
    justify-content space-around
    list-style none
    margin 0px 0px 10px 0px
    padding 0
    width 100%

    li.flex-item
      background transparent
      border-radius 50%
      color white
      font-size 3em
      font-weight bold
      height 150px
      line-height 150px
      margin-left auto
      margin-right auto
      margin-top 10px
      padding 5px
      text-align center
      width 150px
      img.Cardontv
        width 150px
        figcaption
          color black
        