h2(class="Title") #Alianzas
div(class="Alianzas-container")
	ul(class="flex-container")
		li(class="flex-item")
			a(class="flex-itemLink", href="http://alyinmobiliaria.com/")
				img(class="flex-itemLogo", src="./public/images/aly.png")
		li(class="flex-item")
			a(class="flex-itemLink", href="https://www.facebook.com/Rochi.Reseller?ref=hl")
				img(class="flex-itemLogo", src="./public/images/rochi.png")
		li(class="flex-item")
			a(class="flex-itemLink", href="http://cardonestereo.com/")
				img(class="flex-itemLogo", src="./public/images/cardonst.png")
		li(class="flex-item")
			a(class="flex-itemLink", href="http://cardon.tv/")
				img(class="flex-itemLogo", src="./public/images/cardontv.png")
