h2(class="Title") #Alianzas
div(class="Alianzas-newsContainer")
	ul(class="flex-container")
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="./public/images/aly.png")
		li(class="flex-item")
			a(class="Article" )
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="./public/images/rochi.png")
		li(class="flex-item")
			a(class="Article", link="http://www.alyinmobiliaria.com/")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="./public/images/cardontv.png")
		li(class="flex-item")
			a(class="Article")
				article(class="Article-con")
					header(class="Article-conH")
						img(class="Article-conPor", src="./public/images/cardonst.png")