ul(class="flex-container")
	li(class="flex-item")
		a(class="flex-link", href="http://cardonestereo.com/")
			img(class="Cardontv", src="../public/images/cardonst.png")
	li(class="flex-item")
		a(class="flex-link", href="http://cardon.tv/")
			img(class="Cardontv", src="../public/images/cardontv.png")
	li(class="flex-item")
		a(class="flex-link", href="https://www.facebook.com/Rochi.Reseller")
			img(class="Cardontv", src="../public/images/rochi.png")
	li(class="flex-item")
		a(class="flex-link", href="http://alyinmobiliaria.com/")
			img(class="Cardontv", src="../public/images/aly.png")
