@import "./Nav/styles.styl"
@import "./Header/styles.styl"
@import "./Home/styles.styl"
@import "./Cine/styles.styl"
@import "./Games/styles.styl"
@import "./Videos/styles.styl"
@import "./Music/styles.styl"
@import "./Tv/styles.styl"
@import "./Books/styles.styl"
@import "./Tienda/styles.styl"
@import "./Footer/styles.styl"
@import "./Alianzas/styles.styl"
body.Home
	background white
	padding 0px
	margin 0px

