@import "./Nav/styles.styl"
@import "./Header/styles.styl"
@import "./Anterior/styles.styl"
@import "./Alianzas/styles.styl"
@import "./Principales/styles.styl"
@import "./Footer/styles.styl"
//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: Estilos generales
html
	width 100%
body.Home
	width 100%
	height auto
	background white
	font-family Oswald      
	padding 0px
	margin 0px 0px 0px 0px