@import "./Nav/styles.styl"
@import "./Header/styles.styl"
@import "./newsblog.styl"
@import "./Footer/styles.styl"
//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Blog
html
	width 100%
	height 100%
	background transparent
	font-family Oswald
	padding 0px
	margin 0px
body.Blog
	width 100%
	height auto
	margin 0px
	padding 0px