@import "./Nav/styles.styl"
@import "./Header/styles.styl"
@import "./NewsC/styles.styl"
//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Cine
html
	width 100%
	height 100%
	background frblue
	font-family Oswald
	padding 0px
	margin 0px
	body.Cine
		width 100%
		height 100%
		margin 0px
		padding 0px
			

	