doctype html
html(lang="es")
	head
		title FR1K1.COM
		meta(charset="utf-8")
		meta(name="title", content="FR1K1.COM")
		meta(description="FR1K1.COM es tu Magazine Web de Entretenimiento e Información del Cine, Videojuegos, Vídeos,  Música, Tv y Blog. Bienvenido(a)s y gracias por estar aquí.")
		meta(name="viewport", content="width=device-width, maximum-scale=1")
		link(rel="shortcut icon", href="../public/images/icon.png" type="image/svg")
		link(rel="stylesheet", href="../public/css/app.css")
		link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald")
body(class="Home")
	include ./Header/template.jade
	section(class="Principales")
		include ./Principales/template.jade
	//- section(class="Anterior")
	//- 	include ./Anterior/template.jade
	section(class="Alianzas")
		include ./Alianzas/template.jade
footer(class="Contacto")
	include ./Footer/template.jade
	include ./Nav/template.jade