@import "./Nav/styles.styl"
@import "./Header/styles.styl"
@import "./newsmusic.styl"
@import "./Footer/styles.styl"
//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Games
html
	width 100%
	height 100%
	background transparent
	font-family Oswald
	padding 0px
	margin 0px
body.Music
	width 100%
	height auto
	margin 0px
	padding 0px