//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Cine-news
section.Cine-news	
	height auto
	width 100%
	padding 0px
	margin 0px
	height auto
	div.Container-columnas
		-webkit-flex-flow row wrap
		display -moz-box
		display -ms-flexbox
		display -webkit-box
		display -webkit-flex
		display inline-flex
		height auto
		justify-content center
		width 100%
		div.Columna1, 
		div.Columna2, 
		div.Columna3, 
		div.Columna4, 
		div.Columna5, 
		div.Columna6
			margin 15px
			padding 0
			width 310px
			background black
			box-shadow 0 0 0 10px white,
          			   0 0 0 11px frblue,
          			   0 20px 20px -12px black
			a.Noticia1-link
				background steelblue
				height auto
				margin 0px
				padding 0px
				width 310px
				text-decoration none
				article.Noticia1-article
					width 100%
					height auto
					header.Noticia1-portada
						width 100%
						height auto
						img.Noticia1-portadaImg
							width 310px
							height auto
							margin 0px auto 
					div.Noticia1-info
						-webkit-flex-flow row
						display -moz-box
						display -ms-flexbox
						display -webkit-box
						display -webkit-flex
						display flex
						height 30px
						width 100%
						img.Noticia1-seccion
							width 20px
							padding 0px 3px 0px 3px
							margin 0px 1px 0px 1px
							line-height 30px
						h3.Noticia1-title2
							font-size 1.2em
							margin 0px 1px 0px 1px
							padding 0px 3px 0px 3px
							line-height 30px
							color white							
					h2.Noticia1-title1
						margin 0px 4px 0px 4px
						padding 0px
						color white
					p.Noticia1-intro
						margin 0px 4px 0px 4px
						padding 0px
						color white
					span.Noticia1-date
						font-size .8em
						margin 0px 1px 0px 1px
						padding 0px 3px 0px 3px
						line-height 30px
						color orange
						text-align center
			div.Noticia1-btnCompartir
				width 100%
				height auto
				padding 0px
				margin 0px
				-webkit-flex-flow row wrap
				display -moz-box
				display -ms-flexbox
				display -webkit-box
				display -webkit-flex
				display inline-flex
				justify-content space-around
				align-items center
				background white
				div.Noticia1-divHeader
					width 100%
					height 100%
					padding 0px
					margin 0px
					text-align center
					img.Noticia1-logofont
						width 160px
						padding 10px 5px 0px 5px
						margin-right auto
						margin-left auto
						line-height 160px
				a.Noticia1-btnlink1, a.Noticia1-btnlink2
					width 50%
					height auto
					padding 0px
					margin 0px
					text-align center
					color solid white
					img.Noticia1-btnImg
						width 30px
						margin 0px 10px
						padding 0px
				a.Noticia1-btnlink1
					text-align right
				a.Noticia1-btnlink2
					text-align left
			div.Noticia1-compartir
				border-top 1px solid frblue
				width 100%
				height 30px
				padding 5px 0px
				margin 0px
				-webkit-flex-flow row wrap
				display -moz-box
				display -ms-flexbox
				display -webkit-box
				display -webkit-flex
				display inline-flex
				justify-content space-around
				align-items center
				background rgba(0,0,0,0.8)
				h4
					font-size 1em
					width 50%
					text-align center
					line-height 30px
					margin 0px
					padding 0px
					color white
				a.Noticia1-fb, a.Noticia1-tw
					width 20%
					height 30px
					padding 0px
					margin 0px
					text-align center
					color solid white
					img
						width 30px
						margin 0px
						padding 0px
						line-height 30px
				a.Noticia1-fb:hover, a.Noticia1-tw:hover
					background white
					border-radius 3px
			div.Noticia1-linkSection:hover
				background lightgray
				a.Noticia1-btnSection
					h4
						color frblue
			div.Noticia1-linkSection
				width 100%
				background frblue
				padding 0px
				margin 0px
				height auto
				a.Noticia1-btnSection
					width 100%
					height auto
					padding 0px
					margin 0px
					h4
						margin 0px
						padding 10px 0px
						width 100%
						text-align center
						color white
						text-decoration underline
			div.Noticia1-logoContainer
				width 100%
				height 100%
				padding 0px
				margin 0px
				text-align center
				background white
				margin 0px auto
				img
					width 160px
					padding 10px 5px 0px 5px
					margin-right auto
					margin-left auto
					line-height 160px
@media screen and (min-width 320px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 80%
					a.Noticia1-link
						width 100%
						height auto
						article.Noticia1-article
							width 100%
							height auto
							header.Noticia1-portada
								width 100%
								height auto
								img.Noticia1-portadaImg
									width 100%
							div.Noticia1-info
								width 100%
								img.Noticia1-seccion
									width 20px
								h3.Noticia1-title2
									font-size 1.2em
							h2.Noticia1-title1
								font-size 1.2em
							p.Noticia1-intro
								font-size 1em
					// 		span.Noticia1-date
					div.Noticia1-btnCompartir
						div.Noticia1-divHeader
							img.Noticia1-logofont
								width 150px
						a.Noticia1-btnlink1
							img.Noticia1-btnImg
								width 35px
						a.Noticia1-btnlink2
							img.Noticia1-btnImg
								width 35px
@media screen and (min-width 400px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 80%
					a.Noticia1-link
						width 100%
						height auto
						article.Noticia1-article
							width 100%
							height auto
							header.Noticia1-portada
								width 100%
								height auto
								img.Noticia1-portadaImg
									width 100%
							div.Noticia1-info
								width 100%
								img.Noticia1-seccion
									width 25px
								h3.Noticia1-title2
									font-size 1.2em
							h2.Noticia1-title1
								font-size 1.2em
							p.Noticia1-intro
								font-size 1em
					// 		span.Noticia1-date
					div.Noticia1-btnCompartir
						div.Noticia1-divHeader
							img.Noticia1-logofont
								width 150px
						a.Noticia1-btnlink1
							img.Noticia1-btnImg
								width 35px
						a.Noticia1-btnlink2
							img.Noticia1-btnImg
								width 35px
@media screen and (min-width 401px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 360px
					a.Noticia1-link
						width 100%
						height auto
						article.Noticia1-article
							width 100%
							height auto
							header.Noticia1-portada
								width 100%
								height auto
								img.Noticia1-portadaImg
									width 100%
							div.Noticia1-info
								width 100%
								img.Noticia1-seccion
									width 25px
								h3.Noticia1-title2
									font-size 1.2em
							h2.Noticia1-title1
								font-size 1.2em
							p.Noticia1-intro
								font-size 1em
					// 		span.Noticia1-date
					div.Noticia1-btnCompartir
						div.Noticia1-divHeader
							img.Noticia1-logofont
								width 150px
						a.Noticia1-btnlink1
							img.Noticia1-btnImg
								width 35px
						a.Noticia1-btnlink2
							img.Noticia1-btnImg
								width 35px
@media screen and (min-width 720px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 320px
@media screen and (min-width 810px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 360px
@media screen and (min-width 1080px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 320px
@media screen and (min-width 1280px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 360px
@media screen and (min-width 1440px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 380px
@media screen and (min-width 1520px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 460px
					a.Noticia1-link
						width 100%
						height auto
						article.Noticia1-article
							width 100%
							height auto
							header.Noticia1-portada
								width 100%
								height auto
								img.Noticia1-portadaImg
									width 100%
							div.Noticia1-info
								width 100%
								img.Noticia1-seccion
									width 35px
								h3.Noticia1-title2
									font-size 1.5em
							h2.Noticia1-title1
								font-size 1.5em
							p.Noticia1-intro
								font-size 1.2em
@media screen and (min-width 1840px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 480px
@media screen and (min-width 1920px)
	html
		section.Cine-news
			div.Container-columnas
				div.Columna1, 
				div.Columna2, 
				div.Columna3, 
				div.Columna4, 
				div.Columna5, 
				div.Columna6
					margin 20px auto
					width 500px











