@import "./Nav/styles.styl"
@import "./Header/styles.styl"
@import "./NewsT/styles.styl"
//COLORES FR1K1.COM
frblue = #049DD9
//Estilos de Games
html
	width 100%
	height 100%
	background white
	font-family Oswald
	padding 0px
	margin 0px
body.Tv
	width 100%
	height 100%
	margin 0px
	padding 0px