ul(class="flex-container")
	li(class="flex-item") 1
	li(class="flex-item") 2
	li(class="flex-item") 3
	li(class="flex-item") 4
	li(class="flex-item") 5
	li(class="flex-item") 6
	li(class="flex-item") 7
	li(class="flex-item") 8
	li(class="flex-item") 9
	li(class="flex-item") 10