//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: NAV
nav.Modulo
	background rgba(0, 0, 0, 0.8)
	border-top 3px solid frblue
	bottom 0
	height 50px
	left 0
	position fixed
	right 0 
	width 100%
	z-index 6
	ul.container
		height 100%
		list-style none
		margin 0px auto
		padding 0px
		width 100%
		display -webkit-box
		display -moz-box
		display -ms-flexbox
		display -webkit-flex
		display flex
		-webkit-flex-flow row
		li.flex-item
			height 100%
			line-height 60px
			text-align center
			width 15%
			&:hover
				background lightgray
			a.Link
				width 100%				
				img.Nav_img
					padding 0px
					margin 0px
					width 30px
					