nav(class="Modulo")
	ul(class="container")
		li(class="flex-item")
			a(class="Link", href="index.html")
				img(class="Nav_img", src="../public/images/Home.svg", alt="Home")
		li(class="flex-item")
			a(class="Link", href="Cine.html")
				img(class="Nav_img", src="../public/images/cine.svg", alt="Cine")
		li(class="flex-item")
			a(class="Link", href="Games.html")
				img(class="Nav_img", src="../public/images/games.svg", alt="Games")			
		li(class="flex-item") 
			a(class="Link", href="Videos.html")
				img(class="Nav_img", src="../public/images/youtubers.svg", alt="Vídeo")
		li(class="flex-item")
			a(class="Link", href="Music.html")
				img(class="Nav_img", src="../public/images/music.svg", alt="Music")
		li(class="flex-item")
			a(class="Link", href="Tv.html")	 
				img(class="Nav_img", src="../public/images/tv.svg", alt="Tv")
		li(class="flex-item")
			a(class="Link", href="Books.html")	 	
				img(class="Nav_img", src="../public/images/books.svg", alt="Books")
		li(class="flex-item")
			a(class="Link", href="Tienda.html")
				img(class="Nav_img", src="../public/images/tienda.svg", alt="Tienda")