//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: Header
header.Modulo
	background rgba(0, 0, 0, 0.7)
	height auto
	left 0px
	margin 0px
	padding 0px
	// position fixed
	right 0px
	border-bottom 3px solid frblue
	top 0px
	width 100%
	/*z-index 50px*/
	figure.Logo
		height auto
		width 100%
		margin 0px
		padding 0px
		text-align center
		img.Logo_img
			width 180px
			line-height 100%