//COLORES FR1K1.COM
frblue = #049DD9
//MODULO: Header
header.Modulo
	background lightgray
	height 100px
	left 0px
	margin 0px
	padding 0px
	position fixed
	right 0px
	border-bottom: 3px solid frblue
	top 0px
	width 100%
	z-index 10px
	figure.Logo
		height 100px
		width 100%
		margin 0px
		padding 0px
		text-align center
		img.Logo_img
			width 248px